@import "reset";

.body, html{
  background-color: #ddd;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: 100%;
}

.content{
  flex: 1;
}

// header

.title{
  text-align: center;
  font-family: 'Courgette', cursive;
  &--page{
    color: #000;
    font-size: 60px;
    letter-spacing: 5px;
    padding: 50px;
  }
}

// section

.section{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
  border: 4px solid #333;
  border-radius: 15px;
  &--mainData{
    width: 55%;
    background-color: #59D044;
  }
  &--itemsData{
    display: none;
    width: 85%;
    background-color: #61A2DA;
  }
  &__header{
    width: 100%;
    border: 4px solid #333;
    background-color: #333;
    color: white;
    padding: 10px 0;
  }
  &__form{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

// form data

.form{
  &__label{
    margin: 10px;
  }
  &__input{
    padding: 7px;
    margin: 10px;
    border-radius: 5px;
    width: 160px;
  }
  &__select{
    padding: 7px 15px;
    margin: 10px;
    border-radius: 5px 0 0 5px;
  }
  &__button{
    width: 150px;
    border: none;
    border-radius: 15px;
    font-size: 17px;
    padding: 10px;
    cursor: pointer;
    margin: 20px auto;
    background-color: #ce6706;
    color: #fff;
    &:hover{
      background-color: #ce5205;
    }
  }
  &__content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  &__slice{
    margin: 15px;
    padding: 10px;
    border-radius: 10px;
    background-color: #72B3EB;
  }
}

// Pie chart

.article{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
}

.title--chart{
  padding: 25px;
}

.svg {
  border-radius: 50%;
}

// Tooltip on SVG

.tooltip{
  display: none;
  position: fixed;
  z-index: 1;
  background-color: rgba(0,0,0,0.75);
  padding: 4px;
  border-radius: 5px;
  color: #ddd;
}

// footer

.footer{
  width: 100%;
  padding: 10px 0;
  background-color: #ce5205;
  color: #fff;
  text-align: center;
  margin-top: 30px;
  flex-shrink: 0;
}
